Repository Holovashcenko/lang-lang, changes with the labels that .github/labeler.yaml gives for each.
All labels: root, workflows, backend, frontend, environment, dependencies

ll-4: * files extension
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/folder-labels.yml
Labels: workflows

ll-4: + eslint plugin
  server/package-lock.json
  server/package.json
Labels: backend, dependencies

ll-5: * script
  server/package.json
Labels: backend, dependencies

ll-4: eslint
  server/package.json
Labels: backend, dependencies

ll-4: * server eslint
  server/package.json
Labels: backend, dependencies

ll-4: + workspaces
  package-lock.json
  package.json
Labels: root, dependencies

ll-2: * update gitignore0
  .gitignore
Labels: root

ll-2: + env example
  server/.env
  server/.env.example
Labels: backend, environment

ll-2: * set up swagger
  server/package-lock.json
  server/package.json
  server/src/main.ts
Labels: backend, dependencies

ll-2: + roles for users
  server/src/roles/role.enum.ts
  server/src/roles/roles.decorator.ts
  server/src/roles/roles.guard.ts
Labels: backend

ll-2: + auth methods with strategy
  server/src/auth/auth.controller.ts
  server/src/auth/auth.module.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/create-user-response.dto.ts
  server/src/auth/dto/create-user.dto.ts
  server/src/auth/dto/login.dto.ts
  server/src/auth/dto/logout.dto.ts
  server/src/auth/strategies/guards/jwt-auth.guard.ts
  server/src/auth/strategies/guards/local-auth.guard.ts
  server/src/auth/strategies/jwt.strategy.ts
  server/src/auth/strategies/local.strategy.ts
Labels: backend

ll-2: + users model & create new user mrthod
  server/src/users/users.controller.ts
  server/src/users/users.model.ts
  server/src/users/users.module.ts
  server/src/users/users.service.ts
Labels: backend

ll-2: * refactor
  server/src/app.controller.spec.ts
  server/src/app.controller.ts
  server/src/app.module.ts
  server/src/app.service.ts
  server/src/mongo.config.ts
Labels: backend

ll-6: + implemented register, login & logout endpoints
  client/src/api/auth-api.ts
Labels: frontend

ll-6: + button & input components
  client/src/components/button/button.tsx
  client/src/components/button/types/button-colors.ts
  client/src/components/button/types/button-sizes.ts
  client/src/components/button/types/button-types.ts
  client/src/components/button/types/index.ts
  client/src/components/index.ts
  client/src/components/input/input.tsx
  client/src/components/input/types/index.ts
  client/src/components/input/types/input-types.ts
Labels: frontend

ll-6: + login and register pages
  client/src/assets/icons/email.svg
  client/src/assets/icons/eye.svg
  client/src/assets/icons/hide-eye.svg
  client/src/pages/_app.tsx
  client/src/pages/api/hello.ts
  client/src/pages/auth/login.tsx
  client/src/pages/auth/register.tsx
  client/src/pages/index.tsx
  client/src/styles/globals.css
Labels: frontend

ll-6: + implemented register, login api
  server/src/auth/auth.controller.ts
  server/src/auth/auth.service.ts
  server/src/auth/dto/create-user-response.dto.ts
Labels: backend

ll-6: * resolve issue with npm
  client/package-lock.json
  client/package.json
  client/tailwind.config.js
  package-lock.json
  server/package-lock.json
Labels: root, backend, frontend, dependencies

.github/labeler.yaml:

root: '*'

workflows: '.github/**/*'

backend:
  - any:
      - 'server/**/*'
      - '!server/.env.example'

frontend:
  - any:
      - 'client/**/*'
      - '!client/.env.example'

environment:
  - 'server/.env.example'
  - 'client/.env.example'
  - 'lambdas/.env.example'

dependencies:
  - 'server/package.json'
  - 'client/package.json'
  - 'package.json'
